*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  #262626;
    font-family: 'Lato', sans-serif;
}
.container{
    display: grid;
    place-items: center;
    width: 100%;
    height: 50vh;
}
ul{
    display: flex;
}
ul li{
    list-style-type: none;
    color: #484848;
    text-shadow: 0 0 15px;
    font-size: 180px;
    animation: light 1s linear infinite;
}



@keyframes light{
    0%{
        color: #484848;
        text-shadow: none;
    }
    90%{
        color: #484848;
    }
    100%{
        color: #fff900;
        text-shadow: 0 0 1rem #ff6c00;
    }
}


.container ul li:nth-child(1){
    animation-delay: 0s;
}
.container ul li:nth-child(2){
    animation-delay: 0.2s;
}
.container ul li:nth-child(3){
    animation-delay: 0.3s;
}
.container ul li:nth-child(4){
    animation-delay: 0.4s;
}
.container ul li:nth-child(5){
    animation-delay: 0.5s;
}
.container ul li:nth-child(6){
    animation-delay: 0.6s;
}
.container ul li:nth-child(7){
    animation-delay: 0.7s;
}
.container ul li:nth-child(8){
    animation-delay: 0.8s;
}
.container ul li:nth-child(9){
    animation-delay: 0.9s;
}
